<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Makers BNB </title>
    <link type="text/css" rel="stylesheet" href="./public/style.css">
    <script src="./model/user.js"></script>
    <script src="./jquery.js"></script>

    <div class='nav_bar'>
      <h1 class='nav_title'>Makers B&B</h1>
      <a class="buttons" href=''>Login</a>
      <a class="buttons" href=''>Sign up</a>
    </div>
  </head>

  <body>
    <div class='property_list'>
      <div class='property_row'>
          <div class='property_img'></div>
        </div>


  </body>
</html>
