<% include partials/header %>
    <p>Welcome to <%= title %></p>
    <div class='property_list'>
      <div class='property_row'>
          <div class='property_img'></div>
        </div>
<% include partials/footer %>
