
<% include partials/header %>
    <p>Welcome to <%= title %></p>
    <% if(user){ %>
          <h1> <%= user %> </h1>
    <% }%>
    <div class='property_list'>
      <div class='property_row'>
          <div class='property_img'></div>
        </div>
 <% if(properties){ %>
 	<% properties.forEach(function(value){ %>
          <h1> <%= value.name %> </h1>
     <% }) %>
<% }%>
<% include partials/footer %>
