<% include partials/header %>
    <div class='body_content'>
      <h2>Login to Makers B&B</h2>
      <br>
        <form action="/login" method="post">
        <div id="innerForm">
          <label for="username">Username:</label>
          <input type="username" name="username" required>
          <label for="password">Password:</label>
          <input type="password" name="password" required>
        </div>
        <button id="submit" type="submit" name="Submit">Submit</button>
      </form>
    </div>
<% include partials/footer %>