<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link href="/style.css" rel="stylesheet" type="text/css">
      <script src="./model/user.js"></script>
      <script src="./jquery.js"></script>

      <div class='nav_bar'>
        <h1 class='nav_title'>Makers B&B</h1>
        <div class ='button_container'>
          <a class="button_blue" href='/login'>Login</a>
          <a class="button_red" href='/users'>Sign up</a>
          <a class="button_green" href='/'>Properties</a>
        </div>
      </div>
  </head>
  <body>
    <center>
     <% if(errors){ %>
    <% errors.forEach(function(error){ %>
          <h1> <%= error.msg %> </h1>
     <% }) %>
    <% } %>
    </center>
    <div class='body_content'>
      <h2>Sign up to Makers B&B</h2>
      <br>
      <form action="/users/new" method="post">
      <div id="innerForm">
        <label>First name</label>
        <input type="text" name="name">
        <label>Second name</label>
        <input type="text" name="surname">
        <label>User name</label>
        <input type="text" name="username">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
      </div>
      <button id="submit" type="submit" name="Submit">Submit</button>
    </form>
  </div>
  </body>
</html>
