h1.nav_title {
      font-family: arial;
      color: #3f3d3d;
      font-size: 70px;
      margin: 0px;
    }
div.nav_bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
    }
    div.button_container {
          display: flex;
          flex-direction: row;
          align-self:flex-start
        }

      a.button_blue {
            background-color: #5f9bf4;
            border-radius: 15px;
            font-family: arial;
            text-align: center;
            color: white;
            font-size: 20px;
            margin: 10px;
            padding: 10px;
            text-decoration: none;
            padding: 20px;
            transition-duration: 0.2s;
            border: 2px solid transparent;
            }

      a.button_blue:hover, a:active {
            background-color: white;
            color: #5f9bf4;
            border: 2px solid #5f9bf4;
            padding: 20px;
            }

          a.button_red {
                background-color: #ea6060;
                border-radius: 15px;
                font-family: arial;
                text-align: center;
                color: white;
                font-size: 20px;
                margin: 10px;
                padding: 10px;
                text-decoration: none;
                padding: 20px;
                transition-duration: 0.2s;
                border: 2px solid transparent;
                }

          a.button_red:hover, a:active {
                background-color: white;
                color: #ea6060;
                border: 2px solid #ea6060;
                padding: 20px;
                }

                a.button_green {
                      background-color: #96ef92;
                      border-radius: 15px;
                      font-family: arial;
                      text-align: center;
                      color: white;
                      font-size: 20px;
                      margin: 10px;
                      padding: 10px;
                      text-decoration: none;
                      padding: 20px;
                      transition-duration: 0.2s;
                      border: 2px solid transparent;
                      }

                a.button_green:hover, a:active {
                      background-color: white;
                      color: #96ef92;
                      border: 2px solid #96ef92;
                      padding: 20px;
                      }

h2 {
      font-family: arial;
      text-align: center;
      color: #3f3d3d;
      font-size: 30px;
      }

div.body_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

input[type=submit] {
  font-weight: lighter;
  background-color: #E35349;
  font-size: 30px;
  color: white;
  border: 0px;
  border-radius: 10px;
  width: 100%;

}
  input[type=submit]:hover {
    opacity: 0.5;
  }

input[type=text] {
  font-weight: lighter;
  font-size: 20px;
  color: #3f3d3d;
  border-radius: 10px;
  width: 100%;
  border-style: none;
  outline: none;
}
